{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{% url 'tale_new' %}">
	{% csrf_token %} 
    {{ form.non_field_errors }}
    <h1 class="submitTitle"><br>Create a Tale</h1>
	<table border="1" class="submitTable">
	{% for field in form.visible_fields %}
		<tr>
			<th>{{ field.label_tag }}</th>
			<td>
				{{field.errors}}
				{{ field }}
			</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" class="btn-login" value="Submit Post!" id="taleButton"/>
	{% if error_message %}
		<p class="red-text" style="text-align: center;">{{error_message}} {{ form.errors }}</p>
	{% endif %}
{% endblock%}