{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCP Database</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul class="navBar">
        <li style="float: left; margin-top: -1vh; margin-left: 0px; background: transparent; "><img src="{% static 'images/scp_logo.png' %}" alt="SCP logo" style="max-height: 8vh; background-color: transparent;"></li>
        <li style="float: left;  margin-left: 0px;">
            <h1 style="margin-top: -1vh;">The SCP Foundation</h1>
            <p style="margin-top: -3vh;">Secure. Contain. Protect.</p>
        </li>
        <li><p>Sign Up | Login</p></li>
        <li><p>About</p></li>
        <li><p>Home</p></li>
    </ul>
</body>
</html>