{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCP Database</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul class="logoBar">
        <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0a/Logo_of_the_SCP_Foundation.png/1024px-Logo_of_the_SCP_Foundation.png" alt="SCP logo"></li>
        <li>
            <h1>The SCP Foundation</h1>
            <p>Secure. Contain. Protect.</p>
        </li>
    </ul>
    <ul class="navBar">
        <li>Home</li>
        <li>About</li>
        <li>Login</li>
        <li>|</li>
        <li>Sign Up</li>
    </ul>
</body>
</html>