{% extends 'base.html' %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
{% endblock%}
{% block content %}
<hr class="categBorderTop">
<div class="row home">
    <div class="leftHomeColumn">
           <h2>Tales</h2><hr class="taleTitleBorder">
           <h3> - Editor's Choice - </h3>
           <a class="editTaleChoice"href="tale/1">Lorem Ipsum by Mcqueen</a> <hr class="taleTitleBorder" id="taleListBorder">
           <h3 class="taleTitle"> - All Tales - </h3>
           <ul class="homeTaleList">
               {% for Tales in tales_list %}
               <li> <a href="tale/{{ Tales.id }}"><div class="homeTaleTitle">{{ Tales.title }} </div> <div  class="homeTaleAuthor">by {{ Tales.author.username }} </div></a></li>
               {% endfor %}
           </ul>
    </div>
    <div class="rightHomeColumn">
        <ul>
            <li class="firstHomeChoice"><a href="scp/">SCPs</a></li>
            <hr class="categBorder">
            <li><a href="">Canons</a></li>
            <hr class="categBorder">
            <li class="longSection"><a href="">Minor Anomolies</a></li>
            <hr class="categBorder">
            <li class="longSection"><a href="">Sites and Staff</a></li>
        </ul>
    </div>
</div>
{% endblock %}