.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navBar li {
    display: inline;
    float: right;
    margin-left: 2vw;
    color: #ffffff;
}
.navBar h1 {
    font-size: 3.5vh;
}
.navBar p {
    font-size: 2vh;
    margin-top: -.5vh; 
}
body {
    background-color: #191919;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}
.row {
    content: "";
    display: table;
    clear: both;
}

.leftScpColumn {
    font-family: 'EB Garamond', serif;
    width: 15vw;
    float: left;
    height: 50vh;
    background-color: #191919;
    margin-left: -1vw;
    margin-right: 1vw;
    border-right: 1px white solid;
}
.leftScpColumn li {
    list-style-type: none;
}
.leftScpColumn li a {
    color: #ffffff;
    font-size: 4vh;
}

@media only screen and (min-width: 1000px) {
    .leftScpColumn li a {
        font-size: 7vh;
    }
}
.rightScpColumn {
    width: 85vw;
    height: 100vh;
    margin-left: 17vw;
}
.wiki-content-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0.5em auto;
    background-color: #8f8f8f;
}
#page-content {
    font-size : 1.75vh;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
a {
    color: #ffffff;
}
.page-rate-widget-box {
    display: none;
}
.submitTitle {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2.5vw;
}
.submitHead {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2vw;
}
.submitWarning{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.5vw;
}
.submitTable {
    width: 102.5vw;
    margin-left: -2.5vw;
}
.submitTable th {
    border: none;
    width: 10vw;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    vertical-align: top;
}
.submitTable label {
    font-size: 2.5vh;
}
.submitTable td {
    border: none;
    width: 70vw;
}
.submitTable input{
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-size: 1.8vh;
    border: 1px #767676 solid;
    width: 20vw;
}
.submitTable #id_number {
    width: 10vh;
}
.submitTable select {
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-size: 1.8vh;
}
.submitTable textarea {
    width: 70vw;
    height: 50vh;
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-size: 1.8vh;
}
@media only screen and (max-width: 600px) {
    .leftScpColumn li a {
        font-size: 2vh;
        margin-left: -5vw;
    }
    .leftScpColumn {
        margin-left: -4vw;
    }
    .phoneNavBar {
        margin-left: 15vw; 
        margin-right: 18vw;
    }
    .phoneNavBar p {
        font-size: 4vw;
    }
    .submitTitle {
        font-size: 3vh;
    }
    .submitHead{
        font-size: 2.5vh;
        color: #8d0000;
    }
    .submitWarning{
        font-size: 1.2vh;
    }
}